@model BL.Models.BLPhotographer

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<h4>New Photographer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <br />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notice" class="control-label"></label>
                <input asp-for="Notice" class="form-control" />
                <span asp-validation-for="Notice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
            </div>
            <div class="form-group">
                <div id="PasswordUpperDivId" class="invalid password_requirement"><h6>At least one upper case letter.</h6></div>
                <div id="PasswordLowerDivId" class="invalid password_requirement"><h6>At least one lower case letter.</h6></div>
                <div id="PasswordDigitDivId" class="invalid password_requirement"><h6>At least one digit.</h6></div>
                <div id="PasswordSpecialDivId" class="invalid password_requirement"><h6>At least one special character.</h6></div>
                <div id="PasswordLengthDivId" class="invalid password_requirement mb-2"><h6>At least 8 characters long.</h6></div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
